services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:10000"
    volumes:
      - ./attendance_images:/app/attendance_images
      - ./face_attendance.db:/app/face_attendance.db
    env_file:
      - .env
    environment:
      - PORT=10000
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always
